#buttonGroup {
  display: flex;
  flex-direction: row;
}

table {
  margin: 20px;
  border: none;
  border-collapse: collapse;
}

th,
td {
  border-left: 1px solid #000;
  padding: 10px;
}

th:first-child,
td:first-child {
  border-left: none;
}

tr {
  border-top: 1px solid #000;
}

tr:first-child {
  border-top: none;
}
